.main_container {
  background-color: #3b4664;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.calcu_container {
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resultado_container {
  width: 100%;
  height: 20%;
  border-radius: 10px;
  background-color: #181f32;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.resultado {
  text-align: center;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.teclado {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  background-color: #242d44;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  align-content: flex-start;
  gap: 20px;
}
